.logo {
      position: absolute;
      height: 500px;
      width: 500px;
      top: 0;
      left: 0;
  }

  .logo img {
      z-index: -1;
      max-width: 150px;
      max-height: 100%;
  }
.div-wrapper {
      position: absolute;
      height: 500px;
      width: 500px;
      bottom: 0;
      right: 0%;
  }

  .div-wrapper img {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      max-width: 100%;
      max-height: 100%;
  }
.title_main {
    margin: auto;
    width: 50%;
    color: #2C2C2C;
    padding-top: 10%;
    z-index: 1000;
    font-size: 65px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
  }
.title_main img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    border-color: #2C2C2C;
     border-style: solid;

}
 .title1 {
   margin: auto;
   width: 50%;
   color: #2C2C2C;
   text-align: center;

   padding-top: 15px;
   z-index: 1000;
   font-size: 35px;
   font-family: Impact, Charcoal, sans-serif;
 }
 .title2 {
   margin: auto;
   width: 50%;
   text-align: left;
   color: #e05050;
   padding-top: 15%;
   z-index: 1000;
   font-size: 45px;
   font-family: Impact, Charcoal, sans-serif;
 }
 .data {
   position:  absolute;
   margin-top: 25%;
   left: 10px;
   text-align: left;
   color: #5c5c5c;
   font-family: Impact, Charcoal, sans-serif;

 }
.data li {
  list-style-type: '* ';
  font-size: 25px;
}
 .connect a{
   font-size: 20px;
   text-align: center;
   color: #e05050;
   margin-left: 20px;
 }
 .timer {
   color: #ea5c30
 }
